<?xml version="1.0"?>
<!--
/**
 * Copyright © Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * See COPYING.txt for license details.
 */
-->
<config>
    <sections>
        <currency>
            <groups>
                <price translate="label">
                    <label>Price Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>31</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled Rounding</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <base_price translate="label">
                            <label>Rounding Base Price</label>
                            <comment><![CDATA[When using Base Price on Storefront.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </base_price>
                        <manage translate="label comment">
                            <label>Manage Round Rules</label>
                            <comment><![CDATA[The rounding rules manager allows you to use different rules for different price ranges.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </manage>
                        <type translate="label comment">
                            <label>Rounding Type</label>
                            <comment><![CDATA[Round fractions up or Round fractions down.]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <source_model>faonni_price/adminhtml_system_config_source_type</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <manage>0</manage>
                            </depends>
                        </type>
                        <precision translate="label comment">
                            <label>Precision</label>
                            <comment><![CDATA[The optional number of decimal digits to round to.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <manage>0</manage>
                                <type separator=",">ceil,floor</type>
                            </depends>
                        </precision>
                        <swedish_fraction translate="label">
                            <label>Swedish Fraction</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <source_model>faonni_price/adminhtml_system_config_source_fraction</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <manage>0</manage>
                                <type separator=",">swedish_ceil,swedish_round,swedish_floor</type>
                            </depends>
                        </swedish_fraction>
                        <subtract translate="label comment">
                            <label>Subtract Amount</label>
                            <comment><![CDATA[Subtract Amount from the Result.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <manage>0</manage>
                            </depends>
                        </subtract>
                        <amount translate="label">
                            <label>Amount</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <manage>0</manage>
                                <subtract>1</subtract>
                            </depends>
                        </amount>
                        <show_decimal_zero translate="label">
                            <label>Show decimal zeros</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </show_decimal_zero>
                        <replace_zero_price translate="label">
                            <label>Replace zero price</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </replace_zero_price>
                        <zero_price_text translate="label comment">
                            <label>Amount</label>
                            <comment><![CDATA[Text instead of zero price.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <replace_zero_price>1</replace_zero_price>
                            </depends>
                        </zero_price_text>
                    </fields>
                </price>
            </groups>
        </currency>
    </sections>
</config>
